body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.topic {
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px dashed;
}

.topic:hover, .topic:active {
  text-decoration: none;
}

.letter {
  margin-top: 15px;
  text-align: left;
  border: 2px solid grey;
  box-shadow: 2px 4px #888888;
  padding: 15px;
  font-size: larger;
}
